[[env]]
_.file = ".env"

[tools]
"go:github.com/pressly/goose/v3/cmd/goose" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"

[tasks."goose:up"]
description = "Run database migrations up"
dir = "sql/schema"
run = "goose postgres $POSTGRES_URL up"

[tasks."goose:down"]
description = "Roll back the last database migration"
dir = "sql/schema"
run = "goose postgres $POSTGRES_URL down"

[tasks."sqlc:generate"]
description = "Generate Go code from SQL"
dir = "{{config_root}}"
run = "sqlc generate"

[tasks."db:connect"]
description = "Connect to database"
run = "psql $POSTGRES_URL"
